*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #C1D07B;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #afb3b8;
	outline: none;
}
::-webkit-scrollbar {
    width: 12px;
    display: none;
}
