*{margin:0px;padding:0px;}
body{color:#fff;font-weight:400;font-family:"Courier",fixed,monospace;,"Brown-Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-smoothing:antialiased;}
p{font-size:19px;}
a{color:#C1D07B;text-decoration:none;}
a:hover,
a:focus{color:#afb3b8;outline:none;}
::-webkit-scrollbar{width:12px;display:none;}
.typed-cursor{opacity:1;font-weight:100;-webkit-animation:blink 0.7s infinite;-moz-animation:blink 0.7s infinite;-ms-animation:blink 0.7s infinite;-o-animation:blink 0.7s infinite;animation:blink 0.7s infinite;}
@-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}
@-moz-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}
@-ms-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}
@-o-keyframes blink{0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}