<div >
	<div class="form-group">	
		<input ng-model="q" type="text" placeholder="Search blogs" class="search"/>
	</div>
	<h4>Total {{posts.length}} blogs</h4>
	<!-- GLOBAL SEARCH -->
	<article ng-show="q" ng-repeat="post in posts| filter:q | limitTo:pageSize ">
		<h1 >
			<a class="title" href="#/post/{{ posts.indexOf(post) }}">{{ post.title }}</a>
		</h1>
		<p>{{ post.exerpt }}</p>
		<a ng-class="link" href="#/post/{{ posts.indexOf(post) }}">Read more &rarr;</a>
	</article>
	<!-- PAGINATION SEARCH -->
	<article ng-hide="q" ng-repeat="post in posts |startFrom:currentPage*pageSize | limitTo:pageSize ">
		<h1 >
			<a class="title" href="#/post/{{ posts.indexOf(post) }}">{{ post.title }}</a>
		</h1>
		<p>{{ post.exerpt }}</p>
		<a ng-class="link" href="#/post/{{ posts.indexOf(post) }}">Read more &rarr;</a>
	</article>
	<div class="pagination">
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-sm btn-primary">
	        Previous
	    </button>
	    &nbsp;{{currentPage+1}}/{{numPages()}}&nbsp;
	    <button ng-disabled="currentPage >= numPages()-1" ng-click="currentPage=currentPage+1" class="btn btn-sm btn-primary" >
	        Next
	    </button>
    </div>
</div>
