body{

	background-color: black;
	
}
canvas{

	margin:0px;
}


#platform{
	margin: -600px 0 0;
	border-style:solid;
	border-width:medium;
	border-color:blue;
	
}
#striker{
    margin: -600px 0 0;
	border-style:solid;
	border-width:medium;
	border-color:blue;
	border-top:none;
	border-bottom:none;
}
#score{
   margin: -600px 0 0;
	border-style:solid;
	border-width:medium;
	border-color:blue;
	border-top:none;
	 
 
}
#bricks{

	margin-top: -600px;
	border-style:solid;
	border-width:medium;
	border-color:blue;
	border-top:none;
	border-bottom:none;
}
